@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap");
/* @import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap'); */
body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
.showcase-Recheading .row p {
  margin: 0 !important;
}

.dshare {
  display: flex;
  width: 100%;
  padding-top: 15px;
}
.detailedsection section.product-slider-section .container-fluid,
footer .container-fluid {
  padding-left: 6%;
  padding-right: 6%;
}
.download-soialmedia ul {
  padding: 0;
  display: flex;
}

.dshare .col-xl-6:nth-child(2) {
  text-align: end;
  padding-top: 10px;
}

.download-soialmedia p {
  margin-top: 10px;
}

.dshare i {
  color: #221c63 !important;
}

.download-proimg a:hover {
  cursor: pointer;
}

.download-proimg a {
  color: red !important;
  font-weight: 700;
}
.showcase-Boxselect input {
  padding: 6px 28px 6px 12px !important;
  font-size: 12px;
}
.currencdd a {
  border-bottom: 1px solid #d5d5d5;
  padding: 2px 5px !important;
}

.currencdd a:last-child {
  border-bottom: none;
}

.headerbg .currencydropdown .currencdd {
  left: -2px;
  border-radius: 2px;
}

.loading-progress {
  position: relative;
  display: block;
  width: 8rem;
  height: 8rem;
  margin: 20vh auto 1rem auto;
}

.loading-progress circle {
  fill: none;
  stroke: #e0e0e0;
  stroke-width: 0.6rem;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
}

.spinner {
  border: 16px solid silver;
  border-top: 16px solid #337ab7;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 700ms linear infinite;
  top: 40%;
  left: 55%;
  position: absolute;
}

.currencydropbtn {
  background-color: transparent;
  color: black;
  padding: 0px;
  font-size: 16px;
  border: none;
}

.secondsection.col-md-4 p,
.firstsection.col-md-4 p {
  font-weight: 500;
}

.firstsection p,
.secondsection p {
  padding-top: 10px;
  font-size: 14px;
  margin: 0;
}
div#carousel-thumbs .row {
  width: max-content;
}
/*div#carousel-thumbs .img-fluid {
    width: 30%;
}*/

div#carousel-thumbs .carousel-item {
  overflow-x: scroll;
  overflow-y: hidden;
}
.headerbg .currencydropdown {
  margin-top: 5px;
}

.secondsection.col-md-4,
.firstsection.col-md-4 {
  padding-top: 5px;
}

.currencydropdown {
  position: relative;
  display: inline-block;
  border: 1px solid;
  padding: 5px 10px;
  border-radius: 5px;
}

button.currencydropbtn {
  font-size: 14px;
}

.countdrop {
  height: 50vh;
  overflow-y: scroll;
}

.countdrop span,
.currencydropdown-content a {
  font-size: 13px;
}
li.highlighted a {
  display: contents !important;
  color: black !important;
}
.countrydrop {
  width: 100%;
}
/* ul.countdrop {
    margin-top: 6px;
} */
.currencydropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.header-logo {
  width: 70px;
}

.bg-white {
  padding: 10px;
}

.currencydropdown-content a {
  background: white;
  margin-top: 6px;
}

.currencydropdown-content ul,
.currencydropdown-content {
  padding: 5px;
  background: white;
}

.supportcontent {
  min-width: 20rem;
  left: -100px;
  background-color: transparent !important;
}

.menudropdown span {
  color: black;
  font-weight: 500;
}

.menudropdown .countdrop {
  overflow: auto;
  height: auto;
}

@media only screen and (min-width: 992px) {
  .carboxes .row a {
    display: flex;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

.carboxes .row a {
  display: flex;
}

.menucontent {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

nav.navbar.navbar-expand-lg.navbar-light .bg-white {
  background: transparent !important;
  padding: 0;
}

.currencydropdown-content.regiscontent {
  padding: 20px;
}

.regiscontent {
  min-width: 15rem;
  left: -130px;
}

ul.countdrop a,
.currencydropdown-content a {
  padding: 0px !important;
}

img.flagimg-fluid {
  width: 18px;
  height: 18px;
}

li.nav-item a {
  color: white !important;
  font-size: 14px;
}

header.headerbg {
  background: #ffb703;
  padding-bottom: 5px;
}

header.headerbg .currencydropdown-content,
header.headerbg .currencydropdown-content {
  top: 35px;
}

section.menuhead.sticky-header .currencydropdown {
  border: none !important;
}
.supportcontent .row.bg-white {
  border-radius: 3px;
}

button.chatbtn {
  background: #ffb703;
  border: none;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 700;
}

.regisfooter {
  display: flex;
}

section.menuhead.sticky-header,
.mobile-header {
  position: sticky;
  top: 0;
  z-index: 999;
}
.formvariation,
.formss {
  max-width: 70% !important;
}
.showcase-Make.rightsidebar ul.countdrop {
  background: #f9f9f9;
}
button.regisbtn {
  background: #ffb703;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 15px;
  font-weight: 700;
  width: 100%;
}

.firstsection.col-md-4 {
  text-align: center;
}

.currencydropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

section.sticky-header {
  background: #221c63;
  padding: 15px 0 0px;
}

a.nav-link {
  padding-bottom: 0;
}

.support,
.registerbox {
  display: flex;
  justify-content: center;
}

button.supportbtn {
  color: white;
  text-align: left;
  font-size: 14px;
}

.fa-headphones:before,
.fa-heart:before,
.fa-user:before {
  font-size: 30px;
  color: white;
  top: 10px;
  position: relative;
}

.currencydropdown-content a:hover {
  background-color: #fff;
}

.currencydropdown:hover .currencydropdown-content {
  display: block;
  text-align: left;
  z-index: 1000;
}

.currencydropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* ....mobile Header...... */

section.mobile-header {
  background: #221c63;
  padding: 5px 0;
}

.mobile-container {
  height: 100%;
  width: 300px;
  position: absolute;
  /* background: yellow; */
  z-index: 1;
  transition: 0.5s ease;
  transform: translateX(-320px);
}

.side-logo {
  width: 100px;
  padding-left: 20px;
  filter: drop-shadow(2px 4px 6px black);
}

.mobile-container .sidemenu {
  color: black;
  font-size: 15px;
  padding: 10px 0;
  text-transform: capitalize;
  letter-spacing: 1.5px;
  position: relative;
  top: -45px;
  background-color: white;
  height: 100vh;
  overflow-y: scroll;
  border-right: 2px solid #e2e2e2;
}

ul.sidelist {
  width: 100%;
  list-style: none;
  padding-left: 0px;
}

.showcase-Boxbtn {
  position: relative;
  top: 20px;
}

.showcase-Boxbtn button {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background: #ffb703;
}

.showcase-Make .countdrop {
  height: auto;
  padding-left: 0px;
  overflow: auto;
}

.showcase-Make .countdrop a {
  display: block;
}

.showcase-Make .countdrop a:hover {
  background: #f4f9ff;
}

.showcase-Make .countdrop a {
  display: block;
  padding: 10px !important;
  margin: 2px 0;
}

.showcase-Make .countdrop a span {
  padding-left: 10px;
  font-size: 13px;
  color: black;
}

.showcase-Make .countdrop a:hover,
.showcase-Make h5:hover {
  text-decoration: none !important;
}

.showcase-Make .countdrop img {
  width: 20px !important;
}

i.fa.fa-gear,
i.fa.fa-search,
i.fa.fa-globe,
i.fa.fa-info,
.mobile-container .sidemenu i.fa.fa-phone,
i.fa.fa-question {
  position: relative;
  left: -10px;
  font-size: 18px;
}

section.searching-forms {
  position: relative;
  bottom: 70px;
}

section.sidebar-menu .col-xl-2.col-lg-2.col-md-2.d-md-block.d-none {
  border-right: 3px solid #dfdfdf;
}

section.sidebar-menu .col-xl-2.col-lg-2.col-md-2.d-md-block.d-none,
section.sidebar-menu .col-xl-2.col-lg-2.col-md-2.col-sm-2.col-12 {
  position: relative;
  margin-top: 20px;
  margin-bottom: 50px;
}
.col-xl-8.col-lg-8.col-md-8.col-sm-8.col-8.p-0.formss {
  margin-bottom: -150px;
}

.col-xl-8.col-lg-8.col-md-8.col-sm-12.col-12.carboxes {
  margin-top: 100px;
}

.fa.fa-car,
.fa.fa-truck {
  font-size: 25px;
  color: #221c63;
  border: 1px solid;
  padding: 10px;
  box-shadow: 1px 2px 14px #221c63 !important;
}

span#truckicon:hover,
span#caricon:hover {
  background: white;
}

li.highlighted {
  background: #ebf3ff;
  color: black !important;
  font-weight: bold !important;
  margin: 10px 0;
  font-size: 15px !important;
}
div.thumb {
  max-width: fit-content !important;
}
.results ul.nav.nav-tabs li.nav-item a {
  padding: 8px 5px;
}
.notice h6 {
  font-size: 15px;
  line-height: 22px;
  color: #e6011d;
  margin-top: 0.8rem;
}

.results ul.nav.nav-tabs a.nav-link.active,
.results ul.nav.nav-tabs a.nav-link:hover {
  background: transparent !important;
}

.results a.nav-link a:hover,
.results a.nav-link a:active {
  background: #ffb703 !important;
}
.results a.nav-link a:hover span,
.results a.nav-link a:active span {
  color: white;
}
.detail-leftsection div#wrap .row .col-12 {
  border: 1px solid #f3f3f3;
  padding: 0 !important;
  box-shadow: 2px 0px 9px 0 #f3f3f3;
}

div.thumb img {
  object-fit: cover;
  width: 90px !important;
  height: 70px;
  opacity: 0.6;
}

.formrow {
  position: relative;
  justify-content: center;
  bottom: 190px;
}

.formvariation {
  background: #cee0fc;
  border-top: 5px solid #221c63;
  padding: 10px;
  z-index: 1;
}

.menudropdown {
  font-size: 13px;
}

.row.bg-white .col-sm {
  border-right: 1px solid #dddddd;
}

.row.bg-white .col-sm:last-child {
  border: none;
}

.menudropdown .bg-white {
  width: 60vw;
  padding: 20px 0;
  border-radius: 5px;
}

.menudropdown .needhelp {
  width: fit-content !important;
}

.showcase-Box.truckform {
  display: none;
}

ul.sidelist li {
  display: block;
  width: 100%;
}
ul.sidelist li a span {
  padding-left: 5px;
}

li.last {
  border: none !important;
  color: black !important;
  font-size: 14px !important;
}

ul.sidelist li {
  padding: 10px 40px;
  font-weight: 600;
  font-size: 14px;
  color: black;
  border-bottom: 0.5px solid #e4e4e5;
}

#times {
  color: white;
  cursor: pointer;
  font-size: 30px;
  position: relative;
  right: -320px;
  top: 5px;
  display: none;
}

#bars {
  color: white;
  cursor: pointer;
  position: relative;
  right: -330px;
  font-size: 30px;
  top: 5px;
}

ul.sidelist li a {
  color: black;
  padding: 0px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  letter-spacing: 1px;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
  font-weight: 600;
}
.results li.nav-item a.nav-link {
  border: none !important;
}
.searched select {
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px 0;
  width: 100%;
  font-size: 13px;
}

.searched .col-lg-6.col-md-6.col-sm-6:nth-child(2):before {
  content: "~";
  position: absolute;
  left: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.searchpagebtn {
  padding: 7px;
  margin: 5px 0;
  width: 100%;
  border-radius: 5px;
  background: #ffb703;
  color: #221c63;
  border: none;
}

.container.searched {
  background: #cee0fc;
  /*    border-radius: 0px 50px 0 0;*/
}

.searched-carimage a,
.car-details a,
a.page-link,
a.nav-link2,
.car-inquiry a {
  max-width: 100% !important;
}

.results img {
  width: 20px;
}

.results a.nav-link2 span {
  padding-left: 5px;
}

.second-searchform .container {
  padding: 30px;
  margin-top: 50px;
  max-width: 95%;
  box-shadow: 1px 7px 11px 0px #cdcdcd;
  border-top: 5px solid #221c63;
}
.searched-carimage img {
  width: 100%;
  height: 195px;
  object-fit: contain;
  box-shadow: -1px 1px 5px 1px #d6d6d6;
}
div#carousel .carousel-inner .carousel-item.zoom-image img {
  height: 500px;
  object-fit: contain;
}
.searched-carimage p {
  background: linear-gradient(0deg, #f7941d, #f7941d), #fff;
  border-radius: 5px 0;
  position: absolute;
  top: 0;
  color: #fff;
  padding: 2px 8px 4px 8px;
  margin: 0;
  font-size: 13px;
  letter-spacing: 1px;
}
.currencdd a {
  text-align: center;
}

.searched-carimage h4,
.searched-carimage h5 {
  font-size: 15px;
}

.searched-carimage h4 span,
.searched-carimage h5 span {
  font-weight: 400;
}

.car-country img {
  width: 20px;
}
h6.listname {
  color: #221c63 !important;
}
.scolumn h6 {
  background: #ebf3ff;
  /* color: white; */
  font-size: 12px;
  text-align: center;
  padding: 4px;
}

.rcolumn h6 {
  font-size: 14px;
}

.rcolumn p,
.scolumn p {
  font-size: 12px;
}

.scolumn .col-3 {
  padding: 0 5px;
  height: 75px;
  border: 1px solid #cbe0ff;
  text-align: center;
  padding: 0;
}
span.fav-text {
  font-size: 16px;
  color: #ffb703;
}

.addfav i {
  color: red !important;
  font-size: 16px;
}

.rcolumn .col-6 {
  border: 1px solid #cbe0ff;
  padding: 0 5px;
  height: 75px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
}

.fprice span {
  color: #ffb703;
  float: right;
}

.askprice span {
  color: black;
  float: right;
}

button.offerbtn {
  width: 100%;
  background: #ffb703;
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
  margin-top: 10px;
}

.flist li {
  display: inline-block;
  position: relative;
  padding-right: 5px;
  font-size: 12px;
  border-right: 1px solid;
  color: #2a2a2a;
  font-family: gilmer-Regular;
}

.flist ul {
  list-style: none;
  padding: 2px 8px 8px 8px;
  position: relative;
  margin: 0;
  background: #f3f3f3;
  border-radius: 5px;
  width: auto;
  display: inline-block;
}
.searched-carimage h5 {
  color: #ffb703;
  font-size: 17px;
}

.results {
  padding: 50px 10px;
}
.second-searchform img.img-fluid {
  width: 20px;
}
ul.nav.nav-tab li.nav-item {
  max-width: 100%;
  padding: 8px 16px;
  border: 2px solid #ffb703;
  margin: 5px 5px 5px 0;
  background: white;
  font-weight: 400;
  font-size: 14px;
  width: auto;
  border-radius: 4px;
}

ul.nav.nav-tab li.nav-item a {
  color: #ffb703 !important;
}

ul.nav.nav-tab li.nav-item:hover,
ul.nav.nav-tab li.nav-item:active {
  background: #ffb703;
  transition: 0.4s;
}

ul.nav.nav-tab li.nav-item:hover a,
ul.nav.nav-tab li.nav-item:active a {
  color: white !important;
  text-decoration: none !important;
}
.second-searchform .nav-tabs {
  border: none !important;
}

.showcase-Box {
  box-shadow: 1px 7px 11px 0px #cdcdcd;
}

.showcase-Box.truckform,
.showcase-Box.carform {
  background: #cee0fc;
  padding: 0px 30px 30px 30px;
}

#check:checked ~ .mobile-container {
  transform: translateX(-20px);
}

#check:checked ~ .mobile-container #bars {
  display: none;
}

#check:checked ~ .mobile-container #times {
  display: block;
}

#check:checked ~ .mobile-header {
  filter: brightness(20%);
}

section.mobile-header .col-7 {
  text-align: end;
}

.featuresection a {
  color: white !important;
  font-size: 25px;
  padding: 5px;
}
@media only screen and (min-width: 1601px) and (max-width: 2000px) {
  .cardimage img {
    height: 170px !important;
  }
}
@media only screen and (min-width: 2001px) and (max-width: 2400px) {
  .cardimage img {
    height: 210px !important;
  }
}
@media only screen and (min-width: 2401px) and (max-width: 3200px) {
  div#carousel .carousel-inner .carousel-item.zoom-image img {
    height: 650px;
  }
  .cardimage img {
    height: 270px !important;
  }
}
@media only screen and (min-width: 3201px) and (max-width: 6400px) {
  .cardimage img {
    height: auto !important;
  }

  section .sidebar-menu .container-fluid {
    padding-left: 10%;
    padding-right: 10%;
  }
}

section.sidebar-menu .container-fluid {
  padding-left: 2%;
  padding-right: 2%;
}

.humb-img {
  position: relative;
  top: 8px;
  right: -270px;
  width: 25px;
  filter: invert(1);
  cursor: pointer;
}

.featuresection {
  position: relative;
  /* top: 4px; */
}

.featuresection img {
  filter: invert(1);
}

.custom-control-label::before,
.custom-file-label,
.custom-select,
.showcase-Boxbtn {
  font-size: 12px;
}

.showcase-Box label {
  font-weight: 600;
  font-size: 14px;
  color: black;
  margin-bottom: 0;
  margin-top: 6px;
}
h6.lsitname {
  color: #221c63;
  font-size: 18px;
}

.buy-stBox-right {
  padding-top: 25px;
}

.buy-steptxt b {
  font-size: 22px;
  color: #221c63;
}

.buy-stepheading h4,
h4.buy-stepheading {
  font-size: 30px !important;
  text-align: center;
  margin: 50px 0px;
}

.b1 div:first-child {
  background: #221c63;
  padding: 10px 10px 30px 10px;
  box-shadow: 6px 8px 17px 0px #cecece;
}

.b1 div:first-child img {
  box-shadow: none !important;
}

.b1 img {
  padding: 10px;
  margin: 10px auto;
  border-radius: 0;
  box-shadow: none;
}

.b1 a {
  font-size: 14px;
}

.col-md-4.b1 {
  padding: 5px;
}
/*.filt {*/
/*  width: 100%;*/
/*  display: flex;*/
/*  justify-content: end;*/
/*  padding: 10px;*/
/*}*/

i.fa.fa-whatsapp,
i.fa.fa-facebook,
i.fa.fa-twitter {
  font-size: 30px;
  padding: 10px;
}

p.modelno {
  font-weight: 200 !important;
  padding-top: 5px !important;
}

.col-xl-8.col-lg-8.col-md-8.col-sm-12.col-12.carboxes .col-sm {
  box-shadow: 0px 0px 7px 1px #d1d1d1;
  padding: 0;
  margin: 5px;
  background: #f4f9ff;
  border-radius: 2px;
}

.col-xl-8.col-lg-8.col-md-8.col-sm-12.col-12.carboxes .col-sm:hover {
  box-shadow: 0px 0px 7px 1px #d1d1d1;
}

.cardimage img {
  width: 100%;
  height: 140px;
  border-radius: 2px 2px 0 0;
}

.carboxes h2,
.carboxes h3 {
  font-weight: 600;
}

.gceFaq-tabs.faqSec .nav-tabs {
  margin-bottom: 30px;
}

.currencydropdown-content.supportcontent .row.bg-white {
  background: transparent !important;
}

.currencydropdown-content.supportcontent {
  background: white !important;
  padding: 10px;
  border-radius: 5px;
}

.btn-link {
  font-weight: 600;
  color: #221c63;
  text-decoration: none;
  text-align: left;
  padding: 0 !important;
}

div#faqExampleall span,
button.btn.btn-link span {
  font-size: 13px;
}

div#faqExampleall .card-header {
  border: none !important;
}

div#faqExampleall .card {
  margin: 10px 0;
  border: transparent;
  background: #eee !important;
  border-radius: 0 !important;
}

.btn-link:hover {
  text-decoration: none !important;
  color: #221c63;
}

.cta-homeSec {
  padding: 2rem 1.3rem;
  margin: 50px 0;
}

.cta-homeSec h3 {
  color: white;
  font-size: 40px;
  text-shadow: 0 4px 4px rgb(0 0 0 / 30%);
}

.cta-homeSec p {
  display: flex !important;
  color: white !important;
  font-size: 15px;
  text-shadow: 0 4px 4px rgb(0 0 0 / 30%);
}

.carboxes .row a:hover {
  text-decoration: none;
}

.container.sc {
  padding: 0;
}

.cta-homeSec h6 a {
  margin-top: 30px;
  background: #ffb703;
  color: white;
  font-size: 16px;
  padding: 10px 10px;
  border-radius: 5px;
}

button.btn.btn-link span:before {
  content: "\27A4";
  margin-right: 10px;
}

i.fa.fa-circle:before {
  content: "\27A4";
  padding-right: 5px;
}

ul.nav.nav-tabs li.nav-item a {
  color: #ffb703 !important;
  max-width: 100%;
  padding: 8px 16px;
  border: 2px solid;
  margin: 5px 5px 5px 0;
  background: white;
  font-weight: 400;
  font-size: 14px;
  width: auto;
}

.breadcrumbs {
  position: relative;
  margin: 20px auto;
}

.breadcrumbs ul,
.about-goBox ul {
  list-style: none;
  padding: 0;
}

.gceCountry-Local.how-Topay img.img-fluid {
  width: 80%;
  box-shadow: 2px 2px 4px -1px #aeaeae;
  padding: 10px;
  margin: 10px auto;
  border-radius: 20px 20px 0 20px;
}

.gceCountry-Local.how-Topay .row {
  margin-top: 20px;
}

.gceInform-Imptxt h4 {
  font-size: 15px;
  font-weight: 600;
}

.whycum.container h4 {
  padding: 20px 0;
  font-weight: 600;
}

h3.text-center.whyhead,
gceInform-Imptxt h4,
.about-goBox h1,
.gceBest-Carz h3,
.gceClearing-From h3,
.gceCountry-Local h3,
.gceDelivery-Ser h3,
.gceFaq-tabs h3,
.gceGet-touch h3,
.gceInform-Import h3,
.gcePayment-Option h3,
.gceWhy-Choose h3 {
  font-size: 25px;
  line-height: normal;
  color: #221c63;
  margin: 1.5rem 0;
  font-weight: bold !important;
}

.gceCountry-landing img {
  box-shadow: 2px 2px 4px -1px #aeaeae;
  padding: 10px;
  margin: 10px auto;
  border-radius: 20px 20px 0 20px;
}

p.whytext {
  font-size: 14px;
}

.about-goBox {
  background: #ebf3ff;
  padding: 15px 15px 10rem 15px;
  height: 100%;
  position: relative;
}

.about-goBox ul li.active a {
  color: #06207d;
}

.about-goBox a {
  font-weight: 600;
  letter-spacing: 0.5px;
}

.how-Topay h5 {
  font-size: 22px;
  line-height: normal;
  color: #f50;
  font-weight: bold;
}

.breadcrumbs ul li {
  display: inline-block;
  position: relative;
  color: #221c63;
  font-size: 16px;
}

.about-goBox ul li {
  display: block;
  position: relative;
  color: #221c63;
  font-size: 16px;
  line-height: 2.2;
}

section.sidebar-menu {
  padding-top: 50px;
}

img.widthhundread {
  width: 100%;
}

.breadcrumbs ul li a {
  color: #221c63;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.4px;
}

.breadcrumbs ul li + li::before {
  font-family: FontAwesome;
  position: relative;
  top: -1px;
  padding: 0 5px 0 5px;
  content: "\f054";
  color: #221c63;
  font-size: 10px;
}

ul.nav.nav-tabs a.nav-link.active,
ul.nav.nav-tabs a.nav-link:hover {
  color: white !important;
  background: #ffb703;
}

.cardcontent {
  padding: 5px;
}

p.modelno,
p.car-price {
  font-size: 13px !important;
  color: #221c63;
  font-weight: 600;
  letter-spacing: 0.5px;
  word-spacing: 5px;
}

p.car-price span {
  color: #ffb703;
}

.cardcontent h4 {
  color: #221c63;
  font-size: 13px;
  height: 30px;
  overflow-y: hidden;
  font-weight: 600;
}

@media only screen and (min-width: 1025px) {
  .car-inquiry h6.lsitname {
    display: none;
  }

  section.mobile-header {
    display: none;
  }
}

h1.mobicar.carname {
  display: none;
}

.col-sm.specs:last-child {
  border: none !important;
}

.gceCountry-Local.exp-Information.bankinfo .gceInform-Imptxt h4 {
  padding-bottom: 20px;
  font-size: 20px;
  color: #221c63;
  font-weight: bold;
}

@media only screen and (min-width: 1057px) and (max-width: 1110px) {
  ul.navbar-nav li a,
  button.supportbtn {
    font-size: 13px;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1056px) {
  ul.navbar-nav li a,
  button.supportbtn {
    font-size: 12px;
  }
}

@media only screen and (min-width: 884px) and (max-width: 1000px) {
  ul.navbar-nav li a,
  button.supportbtn {
    font-size: 11px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 883px) {
  ul.navbar-nav li a,
  button.supportbtn {
    font-size: 8px;
  }
}

.checkbox input[type="checkbox"] {
  width: auto !important;
}

@media only screen and (max-width: 1024px) {
  .col-xl-8.col-lg-8.col-md-8.col-sm-12.col-12.carboxes {
    margin-top: 150px;
  }
  select#max-price-select,
  select#min-price-select,
  select#max-mileage-select,
  select#min-mileage-select {
    font-size: 8px !important;
    padding: 5px 2px;
  }
  div.thumb img {
    height: 64px;
  }
  .searched-carimage img {
    height: 140px;
  }

  .searched .col-lg-6.col-md-6.col-sm-6:nth-child(2):before {
    height: 40px;
  }

  .container.searched {
    margin-top: -10px;
  }

  .col-sm.specs h4 {
    font-size: 12px;
  }

  .checkbox input[type="checkbox"] {
    width: auto;
  }

  header .headerbg,
  section.menuhead.sticky-header {
    display: none;
  }

  .detailedsection {
    margin-top: -60px;
  }

  div#carousel .carousel-inner .carousel-item.zoom-image img {
    height: 280px;
  }

  .gceCountry-Local.exp-Information.bankinfo .gceInform-Imptxt h4 {
    padding-bottom: 10px;
    font-size: 15px;
  }

  .whycum.container h4 {
    padding: 10px 0;
  }

  .gceInform-Imptxt p {
    font-size: 14px;
  }

  .gceBest-Carz h3,
  .gceClearing-From h3,
  .gceCountry-Local h3,
  .gceDelivery-Ser h3,
  .gceFaq-tabs h3,
  .gceGet-touch h3,
  .gceInform-Import h3,
  .gcePayment-Option h3,
  .gceWhy-Choose h3 {
    font-size: 20px;
  }

  .how-Topay h5 {
    font-size: 15px;
  }

  .whatsappbg,
  .fbpbg {
    padding: 40% !important;
  }

  .carboxes .row a {
    display: flex;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .carboxes h2,
  .carboxes h3 {
    font-size: 20px;
  }

  .carsrow.row {
    flex-wrap: nowrap;
    width: inherit;
    overflow-x: scroll;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-bottom: 30px;
    --bs-gutter-x: 0rem !important;
    transition: transform 0.3s ease-in-out;
  }

  .formrow.row {
    width: 100%;
    margin: 0;
  }

  .second-searchform .container {
    padding: 30px 10px;
  }

  .searched select {
    padding: 5px 0px;
    margin: 5px 0;
    width: 100%;
    font-size: 12px;
  }

  .searchpagebtn {
    padding: 5px;
    font-size: 13px;
    margin: 0px 0;
  }

  .second-searchform .nav-tabs {
    margin-top: 20px !important;
  }

  .results h4 {
    font-size: 20px;
  }

  .notice h6 {
    color: red;
    padding: 10px 0;
  }

  .results h5 {
    font-size: 15px;
    padding-top: 10px;
  }

  .results {
    padding: 30px 10px 0;
  }

  .col-lg-6.col-md-6.detail-leftsection div#wrap {
    margin: 10px 0 !important;
  }

  .row.specsrow .specs {
    width: auto;
    padding: 10px;
  }

  .row.specsrow {
    justify-content: center;
  }

  h1.mobicar.carname {
    display: block;
    margin: 0 auto;
    font-size: 25px;
    width: 100%;
    text-align: center;
  }

  h1.pccar.carname {
    display: none;
  }

  /*        section.searching-forms .container {
      max-width: 100%;
  }
*/
  div#carouselExampleControls {
    display: none;
  }

  .cardcontent h4 {
    height: auto !important;
  }

  .menuhead,
  header {
    display: none;
  }

  .col-md-2.col-sm-2.vehicleicon {
    width: auto;
  }

  .formvariation,
  .formss {
    flex: 0 0 90%;
    max-width: 90% !important;
  }

  section.searching-forms {
    bottom: 20px;
    margin-top: 50px;
  }

  section.sidebar-menu .col-xl-2.col-lg-2.col-md-2.col-sm-2.col-12 {
    top: 0;
  }

  .showcase-Make.rightsidebar ul.countdrop {
    display: flex !important;
  }

  .showcase-Box.truckform,
  .showcase-Box.carform {
    background: #cee0fc;
    padding: 0px 10px 30px 10px;
  }
}

section.mobile-header input {
  visibility: hidden;
  display: none;
}

.whatsappbg {
  background-image: url(https://www.universalmotorsltd.com/images/what-share.jpg);
  width: 100%;
  padding: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.fbpbg {
  background-image: url(https://www.universalmotorsltd.com/images/faceboook-share.jpg);
  width: 100%;
  padding: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

footer a,
footer p,
footer span,
footer li,
footer h5,
footer h4 {
  color: white !important;
}

footer {
  background: #221c63;
  padding: 80px 0 10px;
}

footer .countdrop {
  height: auto;
  overflow: auto;
  padding: 10px 0;
}

footer ul.countdrop a {
  display: block;
  padding: 5px 0 !important;
}

footer ul.countdrop span {
  font-size: 15px;
}

footer ul.countdrop img {
  width: 30px;
  height: auto;
  margin-right: 20px;
}

footer .f1 {
  border-right: 1px solid #ffff14;
  padding: 10px;
}

.payment-img {
  width: 40px;
}

.copyright.row {
  border-top: 1px solid #ffff14;
  padding-top: 10px;
  margin-top: 20px;
}

footer .header-logo {
  width: 50px;
}

@media only screen and (max-width: 768px) and (min-width: 576px) {
  .cardimage img {
    height: 121px;
  }

  .carboxes .row a {
    display: flex;
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }

  section.sidebar-menu .col-xl-2.col-lg-2.col-md-2.col-sm-2.col-12 {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
  }
}

@media only screen and (min-width: 320px) and (max-width: 425px) {
  .searched-carimage img {
    height: 150px;
  }

  .cardimage img {
    height: 150px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 575px) {
  .cardimage img {
    height: 190px;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .cardimage img {
    height: 140px;
  }

  .carboxes .row a {
    display: flex;
    flex: 0 0 25%;
    max-width: 25%;
  }

  section.sidebar-menu .container {
    max-width: 900px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }

  .navbar-nav {
    display: contents !important;
  }

  .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .showcase-Make .countdrop a span {
    font-size: 13px;
  }

  .showcase-Make .countdrop a {
    padding: 4px 0 !important;
  }
}

@media only screen and (max-width: 1258px) and (min-width: 767px) {
  header.headerbg {
    padding: 10px 0 10px !important;
  }
}

@media only screen and (max-width: 992px) and (min-width: 767px) {
  .carlist-imgBox img {
    height: 135px;
  }

  .showcase-Box label {
    height: 42px;
  }
}

/*Car Detailed Page CSS*/

/* ................*/
.col-sm.specs h4 {
  font-size: 14px;
  font-weight: 700;
  color: #221c63;
}

.col-sm.specs p {
  font-size: 12px;
}

.col-sm.specs {
  text-align: center;
}

button.pull-right {
  background: transparent;
  border: none !important;
  text-align: end;
}

h1.carname {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: #221c63;
  font-family: "Franklin gothic medium", sans-serif;
  text-shadow:
    2px 2px 4px rgba(179, 147, 211, 0.1),
    3px 4px 4px rgba(179, 147, 211, 0.15),
    4px 6px 4px rgba(179, 147, 211, 0.2);
}

.addfav {
  text-align: center;
}

.stock h5 {
  font-size: 14px;
}

.addfav h5 {
  font-size: 14px;
  text-align: end;
  color: #ffb703;
}

.auction h5 {
  font-size: 13px;
  color: #ffb703;
}

.fob-price {
  font-weight: 700;
}

.carprice {
  text-align: end;
  color: #1b3593;
  font-weight: bolder;
}
.detaillight input#insuranceCostLabel {
  font-weight: bolder;
}

.detail {
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  background: #fff;
  margin: 15px 0;
}

.detaildark {
  background: #f6f6f6;
  padding: 10px;
}

.detaillight {
  padding: 20px 10px;
}

.detaillight .tprice {
  font-size: 20px;
  font-weight: 700;
}

.freight h5 {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
}

.detail .row {
  padding: 7px 0;
}

.detail hr {
  margin: 5px 0;
}

.detail input {
  background: transparent;
  border: 1px solid #b2b2b2;
  width: 100%;
}

.row.inquiry-bottom input {
  margin: 5px 0;
  width: -webkit-fill-available;
  padding: 0px 5px;
}

.row.features-table {
  padding: 0 15px;
}

.detail-leftsection h2 {
  font-size: 25px;
  padding: 15px 0;
}

.row.specsrow .specs {
  border-right: 1px solid silver;
}

.row.specsrow {
  padding: 15px 0;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
}

.keyinfo td.first {
  background: #f1f5f9;
  font-weight: 700;
}

li.active h5 {
  font-size: 12px !important;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.featureitem {
  padding: 0;
  list-style: none;
}

ul.featureitem li.active {
  display: inline-block;
  background: #e4fbe4;
  /* border-color: #20d420; */
  border: 1px solid #20d420;
  border-radius: 5px;
  margin: 2px 1px;
}

.keyinfo td {
  border: 1px solid rgb(129, 129, 129);
  padding: 10px 5px;
  font-size: 12px;
}

table.keyinfo {
  width: 50%;
}

.product-slider-section {
  width: 100%;
  /* height: 70vh; */
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-slider-section .carousel-inner {
  cursor: crosshair;
}

.product-slider-section .carousel-indicators {
  overflow-y: hidden;
  overflow-x: auto;
}

.product-slider-section .carousel-indicators li {
  border: 2px solid transparent;
  cursor: pointer;
  float: left;
  height: auto;
  margin: 10px 0 12px 0;
  padding: 5px;
  text-align: center;
  text-indent: unset;
  width: 185px;
}

.product-slider-section .carousel-indicators li.active {
  border: 2px solid #ddd;
}

.product-slider-section .carousel-indicators li .data-slide-image {
  width: 100px;
  margin: 0 auto;
}

.price {
  margin: 20px 0;
  font-size: 20px;
}

.old-price {
  color: #777;
  margin-right: 10px;
  text-decoration: line-through;
  padding: 5px;
}

.new-price {
  background-color: #21a4fb;
  color: #fff;
  padding: 5px;
}

.sale-span {
  background-color: #21a4fb;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  padding: 4px 10px;
  right: -30px;
  text-align: center;
  top: 4px;
  transform: rotate(45deg);
  width: 110px;
}

.add-to-cart-btn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  padding: 17px 60px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.add-to-cart-btn span {
  position: relative;
  z-index: 1;
}

.add-to-cart-btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background-color: #21a4fb;
  color: #fff;
  transition: all 0.5s ease-in-out;
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.add-to-cart-btn:hover:after {
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.get-quote button {
  width: 100%;
  background: #a4e700;
  border-radius: 5px;
  padding: 5px;
  margin: 20px 0;
}

.inquiry-section {
  border: 1px solid #919dad;
  border-radius: 5px;
  background-color: #f1f5f9;
}

.inquire h4 {
  background-color: #919dad;
  padding: 10px;
  color: white;
}

.row.inquiry-bottom {
  padding: 10px;
}

.row.inquiry-bottom h5 {
  font-size: 15px;
}

.row.inquiry-bottom ul {
  padding: 0;
  list-style: none;
}

.row.inquiry-bottom label {
  font-size: 12px;
}

p.inquire-text {
  padding: 15px 0;
  font-size: 13px;
}

.detailedsection {
  padding-top: 20px;
  padding-bottom: 20px;
}

.wrap {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40pt;
  text-align: center;
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;

  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  background-clip: border-box;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;

  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 30px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow:
    0 0 10px #29d,
    0 0 5px #29d;
  opacity: 1;

  transform: rotate(3deg) translate(0px, -4px);
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow:
    0 0 10px #29d,
    0 0 5px #29d;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 767px) {
  .copyright .header-logo {
    position: relative;
    left: 126px;
  }

  .custom-2 img {
    position: relative;
    right: 100px;
  }
}

@media only screen and (max-width: 2560px) and (min-width: 1500px) {
  #min-1 {
    position: relative;
    left: -50px;
    top: -10px;
  }
}

@media only screen and (max-width: 2560px) and (min-width: 1800px) {
  #min-1 {
    position: relative;
    left: -112px;
    top: -20px;
  }
}

@media only screen and (max-width: 2560px) and (min-width: 1920px) {
  #min-1 {
    position: relative;
    left: -152px;
    top: -20px;
  }
}

@media only screen and (max-width: 2560px) and (min-width: 2160px) {
  #min-1 {
    position: relative;
    left: -230px;
    top: -30px;
  }
}

@media only screen and (max-width: 768px) {
  .showcase-Make.rightsidebar ul.countdrop {
    display: block !important;
  }

  .showcase-Make.rightsidebar ul.countdrop a {
    text-align: center;
  }

  .followme.py-3 h5 {
    text-align: center;
  }

  .followme.py-3 .icons {
    display: flex;
    justify-content: center;
  }
}
